* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  height: 100px;
  width: 80vw;
  margin-top: 50px;
}

.container {
  display: flex;
}

.container__reversed {
  display: flex;
  flex-direction: row-reverse;
}

p {
  font-family: sans-serif;
  color: #fff;
  font-size: 0.8em;
  font-weight: 100;
  margin-left: 5px;
}

.nr__0 {
  background-color: #640100;
  width: 3%;
}

.nr__1 {
  background-color: #641600;
  width: 4%;
}

.nr__1_1 {
  background-color: #642900;
  width: 4%;
}

.nr__2 {
  background-color: #633c01;
  width: 5%;
}

.nr__3 {
  background-color: #6d5a18;
  width: 6%;
}

.nr__5 {
  background-color: #646401;
  width: 9%;
}

.nr__8 {
  background-color: #647801;
  width: 11%;
}

.nr__13 {
  background-color: #648d00;
  width: 14%;
}

.nr__21 {
  background-color: #64a102;
  width: 20%;
}

.nr__34 {
  background-color: #63b401;
  width: 25%;
}
